pyttsx3==2.90
SpeechRecognition==3.8.1
wikipedia-api==0.5.4
webbrowser==0.2
smtplib==0.1.0
youtube-search-python==1.6.9
google-generativeai==0.1.0
pygame==2.1.0
tkinterweb==3.34
customtkinter==5.1.0
Pillow==9.3.0
requests==2.31.0
pycaw==20181226
wmi==1.5.1
screen-brightness-control==0.14.0
schedule==1.1.0
pyautogui==0.9.53
pyjokes==0.6.0
tkintervideo==2.6
comtypes==1.1.14
pynput==1.7.3
pyautogui==0.9.53
opencv-python==4.5.3.56
mediapipe==0.8.6.2
comtypes==1.1.11
pycaw==20181226
screen-brightness-control==0.9.0
eel==0.14.0
absl-py==0.12.0
attrs==21.2.0
comtypes==1.1.10
enum34==1.1.10
future==0.18.2
mediapipe==0.8.5
numpy==1.20.3
opencv-contrib-python==4.5.2.54
opencv-python==4.5.2.54
protobuf==3.17.3
psutil==5.8.0
pycaw==20181226
pywin32==301
screen-brightness-control==0.8.6
six==1.16.0
WMI==1.5.1

