pyttsx3==2.90
SpeechRecognition==3.8.1
wikipedia-api==0.5.4
webbrowser==0.2
smtplib==0.1.0
youtube-search-python==1.6.9
google-generativeai==0.1.0
pygame==2.1.0
tkinterweb==3.34
customtkinter==5.1.0
Pillow==9.3.0
requests==2.31.0
pycaw==20181226
wmi==1.5.1
screen-brightness-control==0.14.0
schedule==1.1.0
pyautogui==0.9.53
pyjokes==0.6.0
tkintervideo==2.6
comtypes==1.1.14
